*,
::before,
::after {
   box-sizing: border-box;
}
html,
body {
   scroll-behavior: smooth;
}
/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%; /* 1rem = 10px */
}

:root {
   --primary-color: #5d3bee;
   --font-family: "DM Sans";
}

body {
   font-family: var(--font-family), sans-serif;
   font-size: 1.6rem; /* 16px */
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

.container {
   padding: 0;
}

.btn {
   width: 17rem;
   height: 6.2rem;
   background: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
}
/* -------------common END------------ */
/* ------------HEADER------------- */

header .header {
   display: flex;
   padding: 20px 135px 0;
   align-items: center;
   background-color: #fbfaff;
   justify-content: space-between;
}

.header__contact {
   /* align-self: ; */
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

.contact--email-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 4.6rem;
   height: 4.6rem;
   border-radius: 50%;
   border: solid 1px rgba(93, 59, 238, 0.2);
   margin-right: 1rem;
}

.contact--email-address {
   color: #080415;
   font-size: 2.2rem;
   font-weight: 500;
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-skip-ink: none;
   text-decoration-thickness: auto;
   text-underline-offset: auto;
   text-underline-position: from-font;
}

.header__nav-bar {
   display: flex;
   gap: 43px;
   margin-left: -135px;
}

.nav-bar__item a {
   color: #51586a;
   font-size: 1.8rem;
   font-weight: 400;
}

/*--------------- hero----------- */

.hero {
   padding-top: 4.4rem;
   background: #fbfaff;
}

.hero .row {
   margin: 0;
}

.hero > .container {
   /* background-color: red; */
}
.hero__info--header {
   margin-top: 13.7rem;
   width: 100%;
   color: #080415;
   font-size: 8rem;
   font-weight: 500;
   line-height: 0.95;
   letter-spacing: -0.32rem;
   margin-left: -30px;
}

.hero__info-desc {
   margin-top: 2rem;
   width: 74%;
   margin-left: -30px;
   width: 37rem;
   color: #51586a;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
}

.hero__cta {
   margin-top: 5rem;
   margin-left: -30px;
   display: flex;
   align-items: center;
   gap: 3rem;
}

.hero__socials {
   margin-top: 10.4rem;
   margin-left: -30px;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.social_links {
   display: flex;
   gap: 2rem;
}

.social__item {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   border: 1px solid rgba(8, 4, 21, 0.1);
}

/* -----------Client--------- */

.clients {
   margin-top: 10rem;
}
.clients .row {
   align-items: flex-end;
}

.clients__header{
   display: flex;
   gap: 1.3rem;
   position: relative;
}

.clients_header--line {
   width: 8.6rem;
   height: 2px;
   background-color: var(--primary-color);
   position: relative;
   top:20px;
}
/* .clients__header--title::before {
   content: "";
   display: block;
   width: 8.6rem;
   height: 2px;
   background-color: var(--primary-color);
   position: relative;
   top: 20px;
} */

.clients__header--title {
   display: flex;
   gap: 1.3rem;
   color: #080415;
   font-size: 4.6rem;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: -0.168rem;
   padding-right: 10px;
   /* width: 32.5rem; */
}
.clients__list {
   display: grid;
   grid-auto-flow: row dense;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 36px 0px;
   grid-template-areas:
      ". . . ."
      ". . . .";
}

.client__item {
   display: flex;
   align-items: center;
   gap: 1.3rem;
}

.client__item .client--logo {
   width: 3.6rem;
   height: 3.6rem;
   border-radius: 50%;
   background-color: #fbfaff;
   object-fit: contain;
}
