*,
::before,
::after {
   box-sizing: border-box;
}
html,
body {
   scroll-behavior: smooth;
}
/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%; /* 1rem = 10px */
}

:root {
   --primary-color: #5d3bee;
   --font-family: "DM Sans";
}

body {
   color: #080415;
   font-family: var(--font-family), sans-serif;
   font-size: 1.6rem; /* 16px */
   margin: 0;
   padding: 0;
   transition: all 0.35s ease;
}

a {
   color: inherit;
   font-size: inherit;
   text-decoration: none;
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-skip-ink: none;
   text-decoration-thickness: auto;
   text-underline-offset: auto;
   text-underline-position: from-font;
}

.container {
   padding: 0;
}

.btn {
   width: 17rem;
   height: 6.2rem;
   background: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: transform 0.35s ease, box-shadow 0.35s ease, opacity 0.35s ease;
}

.btn a {
   display: block;
   line-height: 6.2rem;
   width: 100%;
   height: 100%;
   text-align: center;
}

.btn:hover {
   transform: translateY(-10px) scale(1.02);
   box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
   opacity: 0.9;
}

p {
   color: #51586a;
}

h2 {
   font-family: var(--font-family);
   font-size: 5.6rem;
   font-weight: 500;
   line-height: 1.18;
   letter-spacing: -0.224rem;
}

.lvl3 {
   color: #080415;
   font-family: var(--font-family);
   font-size: 3.2rem;
   font-weight: 500;
   line-height: 1.25;
   letter-spacing: -0.128rem;
}
/* -------------common END------------ */
/* ------------HEADER------------- */
header.container-fluid {
   background-color: #fbfaff;
}

header .header {
   max-width: 133rem;
   display: flex;
   padding-top: 2rem;
   margin: 0 auto;
   align-items: center;

   justify-content: space-between;
}

.header__contact,
.footer__contact {
   /* align-self: ; */
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

.contact--email-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 4.6rem;
   height: 4.6rem;
   border-radius: 50%;
   border: solid 1px rgba(93, 59, 238, 0.2);
   margin-right: 1rem;
}

.contact--email-address {
   font-size: 2.2rem;
   font-weight: 500;
}

.header__nav-bar {
   display: flex;
   gap: 43px;
   margin-left: -135px;
}

.nav-bar__item a {
   text-decoration: none;
   color: #51586a;
   font-size: 1.8rem;
   font-weight: 400;
}

/*--------------- hero----------- */

.hero {
   padding-top: 4.4rem;
   background: #fbfaff;
}

.hero .container .hero__info {
   padding: 0;
}

.hero .row {
   margin: 0;
}

.hero__info--header {
   margin-top: 13.7rem;
   font-size: 8rem;
   font-weight: 500;
   line-height: 0.95;
   letter-spacing: -0.32rem;
}

.hero__info-desc {
   margin-top: 2rem;
   width: 74%;
   width: 37rem;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
}

.hero__cta {
   margin-top: 5rem;
   display: flex;
   align-items: center;
   gap: 3rem;
}

.hero__cta--btn a {
   color: #fdfdfd;
   display: block;
   line-height: 6.2rem; /* or use flex same as parent */
   width: 100%;
   height: 100%;
   text-align: center;
}

.hero__cta a {
   font-size: 1.8rem;
   font-weight: 700;
}

.hero__socials {
   margin-top: 10.4rem;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.hero__wrap {
   position: relative;
   /* overflow: hidden; */
}

.hero__deco--wrap {
   position: relative;
}

.hero__wrap figure img {
   position: relative;
   z-index: 2;
   margin: 0;
}

.deco__img--1 {
   position: absolute;
   bottom: 0;
   left: -201px;
   z-index: 1;
   pointer-events: none;
}

.deco__img--2 {
   position: absolute;
   right: -212px;
   bottom: 0;
}

.social_links {
   display: flex;
   gap: 2rem;
}

.social__item {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   border: 1px solid rgba(8, 4, 21, 0.1);
}

/* -----------Client--------- */

.clients {
   margin-top: 10rem;
}
.clients .row {
   align-items: flex-end;
}

.clients__header {
   display: flex;
   gap: 1.3rem;
   position: relative;
}

.clients_header--line {
   width: 8.6rem;
   height: 2px;
   background-color: var(--primary-color);
   position: relative;
   top: 20px;
   z-index: 2;
}
/* .clients__header--title::before {
   content: "";
   display: block;
   width: 8.6rem;
   height: 2px;
   background-color: var(--primary-color);
   position: relative;
   top: 20px;
} */

.clients__header--title {
   display: flex;
   gap: 1.3rem;
   font-size: 4.6rem;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: -0.168rem;
   padding-right: 10px;
   width: 32.5rem;
}
.clients__list {
   /* display: grid;
   grid-auto-flow: row dense;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 3.6rem 7rem;
   grid-template-areas:
      ". . . ."
      ". . . ."; */
   /* Ở đây cậu nên sử dụng giá trị min-content cho mỗi cột trong grid container và justify-content: space-between để các item giãn cách đều nha. Trong bài cậu đang tính toán khoảng cách giữa các cột thủ công là 100px để cột cuối có thể giãn tới sát viền ngoài cột 12.

 */
   /* Solution của F8 */
   display: grid;
   grid-template-columns: repeat(4, min-content);
   grid-template-rows: repeat(2, min-content);
   justify-content: space-between;
   row-gap: 3.6rem;
}

.clients .container .clients__list {
   /* padding-left: 5.5rem; */
}

.client__item {
   display: flex;
   align-items: center;
   gap: 1.3rem;
   /* justify-content: end; */
   transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.client__item:hover {
   transform: translateY(-10px) scale(1.02);
}

.client__item .client--logo {
   width: 3.6rem;
   height: 3.6rem;
   border-radius: 50%;
   background-color: #fbfaff;
   object-fit: contain;
}

/* -----------Specialties-------- */

.specialties {
   margin-top: 13rem;
}

.specialties__heading {
   text-align: center;
}

.specialties__desc {
   width: 53.4rem;
   text-align: center;
   margin: 2rem auto 0;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 3rem; /* 166.667% */
}

.specialties__list {
   margin-top: 6rem;
}
.specialties__item {
   width: 37rem;
   height: 30.6rem;
   background: #fbfaff;
   padding: 3.3rem 4.2rem !important;
   /* border-radius: 10px; */
   transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.specialties__item:hover {
   transform: translateY(-10px) scale(1.02);
   box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
   background: #ffffff;
}

.specialties__item--icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 7.4rem;
   height: 7.4rem;
   border-radius: 50%;
   background-color: #fff;
   border: 1px solid rgba(8, 4, 21, 0.05);
}

.specialties__item .item--title {
   margin-top: 2.2rem;
}

.specialties__item .item--desc {
   margin-top: 1.5rem;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.67;
}
/* ----------Project Section------------ */

.projects {
   margin-top: 14rem;
   background-color: var(--primary-color);
   padding: 8.6rem 0;
}
.projects__heading {
   display: flex;
   align-items: baseline;
}

.projects__heading--title {
   font-size: 6.2rem;
   color: #fff;
   /* width: max(100% , 46.8rem); */
   /* flex-grow: 1; */

   /* width: 46.8rem; */
}

.projects__heading .projects__heading--desc {
   color: rgba(255, 255, 255, 0.7);
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
   /* margin-left: calc(var(--spacer) / 2 * 3); */
   /* padding-left: calc(var(--spacer) / 2 * 3); */
   padding-left: 2.8rem;
   /* margin-left: 2.8rem; */
}

.projects .container .row-1 {
   margin-top: 7rem;
   /* gap:3rem; */
   row-gap: 3rem;
}
.projects .container .row-2 {
   margin-top: 3rem;
}

.projects__item {
   background: #fbfaff;
   display: flex;
   padding: 2.3rem 2.3rem 2.3rem 3.4rem;
   align-items: center;
   gap: 4.7rem;
   position: relative;
   transition: transform 0.35s ease, box-shadow 0.35s ease;
   /* width: calc(100% - 0.75rem); */
}

.projects__item:hover {
   transform: translateY(-10px) scale(1.02);
   box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
   background: #ffffff;
}

.projects__item--title {
   font-size: 3.2rem;
   font-weight: 500;
   line-height: 1.25;
   letter-spacing: -0.128rem;
}

.project__item--info {
   position: relative;
   z-index: 2;
}

.projects__item--desc {
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.44;
   margin-top: 1rem;
}

.projects__item--link {
   display: inline-block;
   margin-top: 2rem;
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 1.66;
}

.project__item--img {
   position: relative;
   z-index: 2;
}

.project__item_deco {
   position: absolute;
   right: 0;
   z-index: 1;
}

.projects .btn {
   margin: 8rem auto 0;
   background: #fff;
}

.projects .btn a {
   font-size: 1.8rem;
   font-weight: 700;
}

/* ---------------Intro section---------------- */

.intro {
   margin-top: 14rem;
}

.intro__hello--wrap{
   display: flex;
   justify-content: center;
   align-items:center;
   gap: 0.9rem;
}

.intro__hello {
   display: inline-block;
   /* text-align: center; */
   color: var(--primary-color);
   font-size: 3.2rem;
   font-weight: 500;
   line-height: 1.25;
   letter-spacing: -0.128rem;
}

.intro__heading {
   text-align: center;
   margin-top: 1rem;
}
.intro__desc {
   text-align: center;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
}

.stats__title {
   font-size: 5.6rem;
   font-weight: 500;
   line-height: 1.36;
   letter-spacing: 0.168rem;
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-skip-ink: none;
   text-decoration-thickness: auto;
   text-underline-offset: auto;
   text-underline-position: from-font;
}

.stats__desc {
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
}

.intro .container .intro__stats--wrap::before {
   content: "";
   width: calc(100% - 22.4rem);
   display: block;
   height: 1px;
   background-color: rgba(8, 4, 21, 0.2);
   margin: 7rem auto 2rem;
}

.intro .container .intro__stats--wrap::after {
   content: "";
   width: calc(100% - 22.4rem);
   display: block;
   height: 1px;
   background-color: rgba(8, 4, 21, 0.2);
   margin: 2rem auto 7rem;
}

.intro__video--wrap {
   position: relative;
   /* transform: translateY(50%); */
   z-index: 2;
}

.intro .container .video-thumb {
   height: 62.8rem;
   object-fit: cover;
}

.video__play-btn {
   content: "";
   display: flex;
   justify-content: center;
   align-items: center;
   width: 11.1rem;
   height: 11.1rem;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.7);
   /* background: rgba(1, 1, 1, 0.7); */
   backdrop-filter: blur(12px);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.intro__video--link {
   background-color: #fff;
   position: absolute;
   right: 20px;
   bottom: 7px;
}

.intro__video--link h3 {
   color: #51586a;
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 1.66;
   text-transform: uppercase;
}

/* ----------Feedback section--------- */

.feedback {
   margin-top: -31.4rem;
   padding-top: 47.3rem;
   padding-bottom: 7.4rem;
   background: #fbfaff;
   position: relative;
   z-index: 1;
}

.feedback__heading {
   text-align: center;
}

.feedback__desc {
   margin-top: 2rem;
   text-align: center;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 3rem; /* 166.667% */
}

.feedback--wrap {
   margin-top: 6rem;
}

.feedback__quote {
   margin: 0 auto;
   max-width: 67.9rem;
   color: #51586a;
   text-align: center;
   font-size: 2.4rem;
   font-weight: 400;
   line-height: 1.66;
}

.feedback__client--avatar {
   width: 3.9833rem;
   height: 3.9833rem;
   object-fit: cover;
   border-radius: 50%;
}

.feedback__client__info {
   text-align: center;
   margin-top: 3.6rem;
}

.feedback__client--wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.52rem;
}

.feedback__client--name {
   text-align: center;
   font-size: 3rem;
   font-weight: 500;
   line-height: 4rem; /* 133.333% */
}

.feedback__client--desc {
   margin-top: 0.32rem;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.81;
}

.dots {
   margin-top: 4.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.6rem;
}

.dot {
   width: 1.6rem;
   height: 1.6rem;
   border-radius: 50%;
   background-color: rgba(8, 4, 21, 0.2);
}

.dot:hover {
   background: var(--primary-color);
   border: #fff solid 0.3rem;
   outline: var(--primary-color) solid 0.1rem;
}

.feedback__deco--1 {
   position: absolute;
   bottom: 0;
   left: 0;
}
.feedback__deco--2 {
   position: absolute;
   bottom: 0;
   right: 0;
}

/* ---------FAQ----------- */
.faq {
   margin-top: 9.5rem;
}
.faq__heading {
   max-width: 57.5rem;
}

.question__icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5rem;
   height: 5rem;
   border-radius: 50%;
   border: 2px solid rgba(22, 26, 28, 0.2);
   transition: border 0.3s ease-in;
}

.icon__shape {
   /* background: var(--primary-color); */
   background: #161a1c;
   position: relative;
   width: 1.5rem;
   height: 0.2rem;
   transition: background 0.3s ease;
}

.icon__shape::after {
   /* visibility: hidden; */
   opacity: 0;
   display: block;
   content: "";
   background: var(--primary-color);
   position: relative;
   width: 1.5rem;
   height: 0.2rem;
   transform: rotate(-90deg);
   transition: opacity 0.3s ease-in-out;
}

.question__wrapper {
   padding: 6rem 16.1rem 0 2.2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.question__wrapper::after {
   content: "";
   display: block;
   width: calc(100% - 16.1rem);
   height: 0.2rem;
   background-color: #08182f;
   position: absolute;
   margin-left: -2.2rem;
   /* bottom: 0; */
   bottom: -1.1rem;
   transition: background-color 0.3s ease-in;
}

.question__answer {
   /* width: 100%; */
   /* visibility: hidden; */
   opacity: 0;
   /* margin-top: 2.3rem;
   max-width: 48.7rem;  */
   transition: opacity 0.5s ease, width 0.2s ease;
}

.question__title {
   transition: color 0.3s ease-in;
}

/* hiện dấu + khi checked */
.faq__wrapper
   input[type="checkbox"]:checked
   + .question__wrapper
   .icon__shape::after {
   opacity: 1;
}

/* hiện câu trả lời khi checked */
.faq__wrapper
   input[type="checkbox"]:checked
   + .question__wrapper
   .question__answer {
   width: 48.7rem;
   margin-top: 2.3rem;
   opacity: 1;
}

/* di chuyển & đổi màu dấu gạch ngang ở cuối */
.faq__wrapper input[type="checkbox"]:checked + .question__wrapper::after {
   bottom: -2.1rem;
   background-color: rgba(93, 59, 238, 1);
}

/* Đổi màu câu hỏi */
.faq__wrapper
   input[type="checkbox"]:checked
   + .question__wrapper
   .question__title {
   color: var(--primary-color);
}

/* đổi màu hình icon */
.faq__wrapper
   input[type="checkbox"]:checked
   + .question__wrapper
   .question__icon {
   border: 2px solid rgba(93, 59, 238, 0.2);
}

/* đổi màu dấu "-" có sẵn */
.faq__wrapper input[type="checkbox"]:checked + .question__wrapper .icon__shape {
   background: var(--primary-color);
}
/* ------------------Self Intro------------- */

.self-intro {
   margin-top: 16rem;
}

.self-intro__title {
   text-align: center;
}

.self-intro__desc {
   max-width: 52.8rem;
   text-align: center;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
   margin: 2rem auto 0;
}

.self-intro__social {
   margin: 3rem auto 0;
   display: block;
   text-align: center;
   color: var(--primary-color);
   font-size: 3.2rem;
   font-weight: 500;
}

.self-intro__img {
   margin-top: 7rem;
}

.self-intro__img img {
   max-width: 37rem;
   object-fit: cover;
}

/* ---------Footer-------- */

.footer__cta--wrap {
   margin: 14rem auto 0;
   background: #fbfaff;
   /* background: red; */
   padding: 6.8rem 0;
   position: relative;
   overflow: hidden;
   max-width: 133rem;
}

.footer__icon {
   display: block;
   margin: 0 auto;
   z-index: 2;
}

.footer__heading {
   margin-top: 2rem;
   text-align: center;
   z-index: 2;
}
.footer__desc {
   margin-top: 2rem;
   text-align: center;
   max-width: 57rem;
   margin: 0 auto;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
   z-index: 2;
}

.footer__cta--btn {
   margin: 3.9rem auto 0;
}

.footer__cta--btn a {
   color: #fdfdfd;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 700;
}

.footer__deco {
   position: absolute;
   z-index: 1;
}

.footer__deco:first-child {
   bottom: 0;
   left: 0;
}

.footer__deco:nth-child(2) {
   top: 0;
   left: 16%;
}

.footer__deco:last-child {
   top: 0;
   right: 0;
}

.footer__nav {
   /* margin: 0 auto; */
   padding-top: 5rem;
   max-width: 133rem;
   display: flex;
   margin: 0 auto;
   align-items: center;
   justify-content: space-between;
}

.footer__line {
   margin: 3.2rem auto 0;
   max-width: 142.9rem;
   height: 0.1rem;
   background-color: rgba(12, 7, 32, 0.2);
}

.copy-rights {
   margin-top: 1.8rem;
   margin-bottom: 3rem;
}

.footer .copy-rights .copy-right__right {
   text-align: center;
   /* margin-left: calc(1 * var(--spacer) / 3); */
   color: rgba(82, 87, 113, 0.6);
}

.copy-right__right a {
   text-decoration: none;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.67;
   letter-spacing: -0.054rem;
}

.copy-right__right span {
   margin-left: 2.3rem;
   margin-right: 1.3rem;
}

.copy-right__left {
   color: rgba(82, 87, 113, 0.6);
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.67;
}
