*,
::before,
::after {
   box-sizing: border-box;
}
html,
body {
   scroll-behavior: smooth;
}
/* Quy đổi 1rem = 10px cho dễ --- xem lại rem để biết thêm */
html {
   font-size: 62.5%; /* 1rem = 10px */
}

:root {
   --primary-color: #5d3bee;
   --font-family: "DM Sans";
}

body {
   font-family: var(--font-family), sans-serif;
   font-size: 1.6rem; /* 16px */
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

.container {
   padding: 0;
}

.btn {
   width: 17rem;
   height: 6.2rem;
   background: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
}
/* -------------common END------------ */
/* ------------HEADER------------- */

header .header {
   display: flex;
   padding: 20px 135px 0;
   align-items: center;
   background-color: #fbfaff;
   justify-content: space-between;
}

.header__contact {
   /* align-self: ; */
   display: inline-flex;
   justify-content: center;
   align-items: center;
}

.contact--email-icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 4.6rem;
   height: 4.6rem;
   border-radius: 50%;
   border: solid 1px rgba(93, 59, 238, 0.2);
   margin-right: 1rem;
}

.contact--email-address {
   color: #080415;
   font-size: 2.2rem;
   font-weight: 500;
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-skip-ink: none;
   text-decoration-thickness: auto;
   text-underline-offset: auto;
   text-underline-position: from-font;
}

.header__nav-bar {
   display: flex;
   gap: 43px;
   margin-left: -135px;
}

.nav-bar__item a {
   color: #51586a;
   font-size: 1.8rem;
   font-weight: 400;
}

/*--------------- hero----------- */

.hero {
   padding-top: 4.4rem;
   background: #fbfaff;
}

.hero .container .hero__info {
   padding: 0;
}

.hero .row {
   margin: 0;
}

.hero > .container {
   /* background-color: red; */
}
.hero__info--header {
   margin-top: 13.7rem;
   color: #080415;
   font-size: 8rem;
   font-weight: 500;
   line-height: 0.95;
   letter-spacing: -0.32rem;
}

.hero__info-desc {
   margin-top: 2rem;
   width: 74%;
   width: 37rem;
   color: #51586a;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
}

.hero__cta {
   margin-top: 5rem;
   display: flex;
   align-items: center;
   gap: 3rem;
}

.hero__cta .btn {
   color: #fdfdfd;
   font-size: 1.8rem;
   font-weight: 700;
}

.hero__cta a {
   color: #080415;
   font-size: 1.8rem;
   font-weight: 700;
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-skip-ink: none;
   text-decoration-thickness: auto;
   text-underline-offset: auto;
   text-underline-position: from-font;
}

.hero__socials {
   margin-top: 10.4rem;
   margin-left: -30px;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.social_links {
   display: flex;
   gap: 2rem;
}

.social__item {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   border: 1px solid rgba(8, 4, 21, 0.1);
}

/* -----------Client--------- */

.clients {
   margin-top: 10rem;
}
.clients .row {
   align-items: flex-end;
}

.clients__header {
   display: flex;
   gap: 1.3rem;
   position: relative;
}

.clients_header--line {
   width: 8.6rem;
   height: 2px;
   background-color: var(--primary-color);
   position: relative;
   top: 20px;
}
/* .clients__header--title::before {
   content: "";
   display: block;
   width: 8.6rem;
   height: 2px;
   background-color: var(--primary-color);
   position: relative;
   top: 20px;
} */

.clients__header--title {
   display: flex;
   gap: 1.3rem;
   color: #080415;
   font-size: 4.6rem;
   font-weight: 500;
   line-height: 1.2;
   letter-spacing: -0.168rem;
   padding-right: 10px;
   /* width: 32.5rem; */
}
.clients__list {
   display: grid;
   grid-auto-flow: row dense;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 3.6rem 7rem;
   grid-template-areas:
      ". . . ."
      ". . . .";
}

.clients .container .clients__list {
   /* padding-left: 5.5rem; */
}

.client__item {
   display: flex;
   align-items: center;
   gap: 1.3rem;
   /* justify-content: end; */
}

.client__item .client--logo {
   width: 3.6rem;
   height: 3.6rem;
   border-radius: 50%;
   background-color: #fbfaff;
   object-fit: contain;
}

/* -----------Specialties-------- */

.specialties {
   margin-top: 13rem;
}

.specialties__heading {
   text-align: center;
   color: #080415;
   font-size: 5.6rem;
   font-weight: 500;
   line-height: 1.18;
   letter-spacing: -0.224rem;
}

.specialties__desc {
   width: 53.4rem;
   color: #51586a;
   text-align: center;
   margin: 2rem auto 0;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 3rem; /* 166.667% */
}

.specialties__list {
   margin-top: 6rem;
}
.specialties__item {
   width: 37rem;
   height: 30.6rem;
   background: #fbfaff;
   padding: 3.3rem 4.2rem !important;
}

.specialties__item--icon {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 7.4rem;
   height: 7.4rem;
   border-radius: 50%;
   background-color: #fff;
   border: 1px solid rgba(8, 4, 21, 0.05);
}

.specialties__item .item--title {
   margin-top: 2.2rem;
   color: #080415;
   font-size: 3.2rem;
   font-weight: 500;
   line-height: 1.25;
   letter-spacing: -0.128rem;
}

.specialties__item .item--desc {
   margin-top: 1.5rem;
   color: #51586a;
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.67;
}
/* ----------Project Section------------ */

.projects {
   margin-top: 14rem;
   background-color: var(--primary-color);
   padding: 8.6rem 0;
}
.projects__heading {
   display: flex;
   align-items: center;
}

.projects__heading--title {
   color: #fff;
   font-size: 5.6rem;
   font-weight: 500;
   line-height: 1.18;
   letter-spacing: -0.224rem;
}

.projects__heading .projects__heading--desc {
   color: rgba(255, 255, 255, 0.7);
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 1.66;
   /* margin-left: calc(var(--spacer) / 2 * 3); */
   padding-left: calc(var(--spacer) / 2 * 3);
}

.projects .container .row-1 {
   margin-top: 7rem;
}
.projects .container .row-2 {
   margin-top: 3rem;
}

.projects__item {
   background: #fbfaff;
   display: flex;
   padding: 2.3rem 2.3rem 2.3rem 3.4rem;
   align-items: center;
   gap: 4.7rem;
}

.projects__item--title {
   color: #080415;
   font-size: 3.2rem;
   font-weight: 500;
   line-height: 1.25;
   letter-spacing: -0.128rem;
}

.projects__item--desc {
   color: #51586a;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1.44;
   margin-top: 1rem;
}

.projects__item--link {
   display: inline-block;
   margin-top: 2rem;
   color: #080415;
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 1.66;
   text-decoration-line: underline;
   text-decoration-style: solid;
   text-decoration-skip-ink: none;
   text-decoration-thickness: auto;
   text-underline-offset: auto;
   text-underline-position: from-font;
}

.projects .btn {
   margin: 8rem auto 0;
   background: #fff;
   color: #080415;
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 1.66;
}
